div.spacer{
	clear:both;
}

ul.dase_search_gallery{
	list-style-type:none;
	clear:both;
}
ul.dase_search_gallery li{
	display:inline;
	background:none;
	float:left;
	text-align:center;
	padding:0px;
	margin:1px;
}
ul.dase_search_gallery div{
	position:relative;
	display:block;
	width:180px;
	height:150px;
	border:1px solid gray;
}
ul.dase_search_gallery div span{
	font-size:.9em;
	display:block;
}
ul.dase_search_gallery div img{
	margin-top:1.3em;
	border:1px solid white;
}

ul.dase_search_gallery li input{
	position:absolute;
		top:0px;
		left:0px;
}
